APP_NAME="Sistema inteligente para buses"
APP_ENV=local
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=buses_inteligentes
DB_USERNAME=
DB_PASSWORD=

API_BASE_URL=http://localhost:8000/api
DEPLOY_HOOK=

